/* Main CSS */

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap');

body {
  margin: 0;
  font-family: 'Open Sans';
}

h4 {
  margin: 0; 
}

/* Title component CSS */

.title {
  font-size: 30px; 
  margin-top: 40px;
  margin-left: 40px; 
  font-weight: 600; 
  color: #262c33;
}

/* HabitForm component CSS */

.add-habit-main {
  margin-top: 20px; 
  margin-left: 40px; 
}

.add-habit-btn {
  font-family: 'Open Sans';
  cursor: pointer;
  color: #017cff; 
  border: 2px solid #edf2fa;
  background: none; 
  border-radius: 30px; 
  font-weight: 700; 
  padding: 8px 10px; 
  display: flex; 
  align-items: center;
  justify-content: center; 
  width: 140px; 
  outline: none; 
}

.add-habit-btn:focus {
  border-color: #017cff; 
}

.add-habit-btn:hover {
  border-color: #017cff; 
}

.close-habit-btn {
  cursor: pointer;
  padding: 5px; 
  display: flex; 
  align-items: center;
  background: none;
  border-radius: 50%; 
  color: #83868a; 
  border: none;
  outline: none; 
  font-size: 18px; 
}

.close-habit-btn:focus {
  background-color: #edf2fa;
}

.close-habit-btn:hover {
  background-color: #edf2fa;
}

.add-habit-form {
  display: flex; 
  flex-direction: column;
  padding: 20px; 
  margin-top: -20px; 
}

.form-label {
  display: flex; 
  flex-direction: column;
  margin-top: 20px; 
}

.form-label input {
  margin-top: 10px; 
}

.checkbox {
  margin-bottom: 10px; 
  display: flex;
  align-items: baseline;
}

.checkbox-form {
  cursor: pointer;
  box-shadow: 0px 1px 1px 0.9px rgba(0,0,0,0.2); 
  width: 15px;
  height: 15px; 
}

.checkbox-text {
  font-size: 14px; 
  margin-left: 10px; 
}

.form-text {
  font-style: italic; 
  font-size: 14px; 
}

.color-title {
  margin-bottom: 13px; 
}

.input-habit-text {
  width: 276px; 
  border: none; 
  border-radius: 3px; 
  box-shadow: 0px 1px 3px 0.9px rgba(0,0,0,0.2); 
} 

/* Calendar component CSS */

.list-habits {
  margin: 0 40px;
  padding: 0;
  list-style-type: none;
  width: 60vw; 
  overflow-y: auto;
}

.all-habits {
  overflow-y: auto;
  height: 60vh;
}

.row {
  display: flex; 
  margin-top: 20px; 
}

.week-days {
  margin-left: 180px; 
  color: #83868a; 
}

.week-days li {
  width: 100px; 
}

.calendar-habit {
  display: flex; 
  align-items: baseline;
  width: 180px;
}

.row:hover .trash-btn {
  visibility: visible; 
}

.trash-btn {
  background: none;
  border: none; 
  cursor: pointer;
  color: #83868a; 
  visibility: hidden;
  font-size: 14px; 
  border-radius: 50%; 
  padding: 5px; 
  margin-left: -20px; 
  height: 30px;
  width: 30px; 
  outline: none; 
}

.trash-btn:focus {
  background-color: #edf2fa;
  transform: scale(1.2);
}

.trash-btn:hover {
  background-color: #edf2fa;
}

.icon-habit {
  margin-right: 10px; 
  font-size: 20px; 
}

.calendar-box {
  width: 100px; 
}

.calendar-btn {
  border: none; 
  cursor: pointer;
  width: 30px;
  height: 30px; 
  border-radius: 5px; 
  transition: all 1s;
  outline: none; 
}

.calendar-btn:focus {
  transform: scale(1.2);
}

