@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap');

body {
  margin: 0;
  font-family: 'Open Sans';
}

.list-habits {
  margin: 40px;
  padding: 0;
  list-style-type: none;
}

.row {
  display: flex; 
  margin-top: 20px; 
}

.row li {
  width: 150px; 
}

.calendar-box {
  width: 100px; 
}

.btn {
  outline: none;
  border: none; 
  cursor: pointer;
  width: 30px;
  height: 30px; 
  border-radius: 5px; 
}