/* Main CSS */

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap');

body {
  margin: 0;
  font-family: 'Open Sans';
}

h1, h2, h4, p {
  margin: 0; 
}

.main {
  display: flex; 
}

/* Title component CSS */

.left-view {
  margin-left: 20px; 
}

.title {
  font-size: 30px; 
  margin-top: 60px;
  margin-left: 40px; 
  font-weight: 600; 
  color: #262c33;
  display: flex; 
}

.title:hover .remove-user-btn {
  visibility: visible;
}

.username {
  margin-left: 10px; 
  font-weight: 700; 
}

.remove-user-btn {
  background: none;
  border: none; 
  cursor: pointer;
  color: #83868a; 
  visibility: hidden;
  font-size: 12px; 
  border-radius: 50%; 
  margin-left: 10px; 
  padding: 5px; 
  height: 20px;
  width: 20px; 
  outline: none; 
  position: absolute;
}

.remove-user-btn:focus {
  background-color: #edf2fa;
  transform: scale(1.2);
}

.remove-user-btn:hover {
  background-color: #edf2fa;
}

.input-username {
  margin-left: 10px; 
  border-radius: 10px; 
  border: 2px solid #edf2fa;
  outline: none;
  font-family: 'Open Sans';
  width: 150px; 
}

.input-username::placeholder {
  font-family: 'Open Sans';
  font-size: 14px;
  font-style: italic;
  color: rgba(131, 134, 138, 0.5);
}

.input-username:focus {
  border-color: #017cff; 
}

.input-username:hover {
  border-color: #017cff; 
}

.today-date {
  margin-left: 40px;
  margin-top: 5px; 
  font-size: 20px; 
  color: #83868a; 
}

/* HabitForm component CSS */

.add-habit-main {
  margin-top: 20px; 
  margin-left: 40px; 
}

.add-habit-btn {
  font-family: 'Open Sans';
  cursor: pointer;
  color: #017cff; 
  border: 2px solid #edf2fa;
  background: none; 
  border-radius: 30px; 
  font-weight: 700; 
  padding: 8px 10px; 
  display: flex; 
  align-items: center;
  justify-content: center; 
  width: 140px; 
  outline: none; 
}

.add-habit-btn:focus {
  border-color: #017cff; 
}

.add-habit-btn:hover {
  border-color: #017cff; 
}

.close-habit-btn {
  cursor: pointer;
  padding: 5px; 
  display: flex; 
  align-items: center;
  background: none;
  border-radius: 50%; 
  color: #83868a; 
  border: none;
  outline: none; 
  font-size: 18px; 
}

.close-habit-btn:focus {
  background-color: #edf2fa;
}

.close-habit-btn:hover {
  background-color: #edf2fa;
}

.add-habit-form {
  display: flex; 
  flex-direction: column;
  padding: 20px; 
  margin-top: -20px; 
}

.form-label {
  display: flex; 
  flex-direction: column;
  margin-top: 10px; 
}

.form-label > input {
  margin-top: 10px; 
}

.checkbox {
  margin-bottom: 10px; 
  display: flex;
  align-items: center;
  margin-top: 10px; 
}

.checkbox-form {
  cursor: pointer;
  width: 16px;
  height: 16px; 
}

.checkbox-text {
  font-size: 15px; 
  margin-left: 10px; 
}

.form-text {
  font-style: italic; 
  font-size: 14px; 
}

.color-title {
  margin-bottom: 13px; 
}

.positivity-title {
  margin-top: 10px; 
}

.submit-form-btn {
  background: none; 
  font-family: 'Open Sans';
  cursor: pointer;
  color: #017cff; 
  border: 2px solid #017cff;
  border-radius: 15px; 
  font-weight: 700; 
  padding: 5px 10px; 
  display: flex; 
  align-items: center;
  justify-content: center; 
  width: 120px; 
  outline: none; 
  margin-top: 10px; 
  align-self: center; 
}

.submit-form-btn:focus {
  box-shadow: 0 3px 10px rgba(0,0,0,0.2); 
}

.submit-form-btn:disabled {
  border: 2px solid #edf2fa !important;
  cursor: default; 
}

.twitter-picker {
  box-shadow: none; 
}

.input-habit-text {
  width: 260px; 
  border: 2px solid #edf2fa;
  outline: none; 
  padding: 5px; 
  border-radius: 10px; 
  font-family: 'Open Sans';
} 

.input-habit-text:focus {
  border: 1px solid #83868a;
}

.alert {
  color: red; 
  font-size: 13px; 
  margin-bottom: -10px; 
  margin-top: 5px; 
}

.border-alert {
  border: 1px solid red; 
}

.border-alert:focus {
  border: 1px solid red; 
}

/* Week view component CSS  */

.week-view {
  display: flex; 
  margin-left: 40px; 
  margin-top: 30px; 
  align-items: baseline;
}

.toggle-week {
  display: flex;
  margin-left: -10px; 
}

.toggle-week-btn {
  font-family: 'Open Sans';
  cursor: pointer;
  border: 2px solid #edf2fa;
  background: none; 
  border-radius: 50%;  
  font-weight: 700; 
  padding: 10px; 
  font-size: 18px; 
  display: flex; 
  align-items: center;
  justify-content: center; 
  outline: none; 
  margin-left: 10px; 
}

.toggle-week-btn:focus {
  border-color: #017cff; 
}

.toggle-week-btn:hover {
  border-color: #017cff; 
}

.week-date {
  margin-left: 20px; 
  font-size: 20px; 
  font-weight: 600; 
}

/* Example calendar component CSS  */

.example-main {
  position: relative;
  display: flex;
}

.example-calendar {
  filter: blur(2px); 
  padding-left: 5px; 
  opacity: 0.6; 
  padding-bottom: 20px; 
}

.example-textbox {
  background: white; 
  width: 43%;
  height: 130px; 
  display: flex; 
  justify-content: center;
  align-items: center;
  align-self: center; 
  left: 300px; 
  position: absolute; 
  z-index: 500; 
  border-radius: 8px; 
  box-shadow: 0 3px 10px rgba(0,0,0,0.2); 
  color: #83868a; 
  text-align: center; 
}

.text h1 {
  font-size: 20px; 
  font-weight: 600; 
}

.text p {
  font-size: 14px; 
  margin-top: 5px; 
}

/* Calendar component CSS */

.separating-line {
  height: 2px;
  border-radius: 2px; 
  margin: 20px 103px 0 -5px; 
  background: #edf2fa; 
}

.list-habits {
  padding: 0;
  margin: 0 40px 40px 40px; 
  list-style-type: none;
  width: 920px; 
  height: 50vh; 
}

.all-habits {
  overflow-y: auto; 
  height: 100%; 
  list-style-type: none;
}

::-webkit-scrollbar {
  width: 0px;
}

.row {
  display: flex; 
  margin-top: 20px; 
}

.week-days {
  margin-left: 180px; 
  color: #83868a; 
}

.week-days li {
  width: 100px; 
}

.calendar-habit {
  display: flex; 
  align-items: baseline;
  width: 180px;
}

.row:hover .trash-btn {
  visibility: visible; 
}

.trash-btn {
  background: none;
  border: none; 
  cursor: pointer;
  color: #83868a; 
  visibility: hidden;
  font-size: 14px; 
  border-radius: 50%; 
  padding: 5px; 
  margin-left: -20px; 
  height: 30px;
  width: 30px; 
  outline: none; 
}

.trash-btn:focus {
  background-color: #edf2fa;
  transform: scale(1.2);
}

.trash-btn:hover {
  background-color: #edf2fa;
}

.icon-habit {
  margin-right: 10px; 
  font-size: 20px; 
}

.calendar-box {
  width: 100px; 
}

.calendar-btn {
  border: none; 
  cursor: pointer;
  width: 30px;
  height: 30px; 
  border-radius: 5px; 
  transition: all .5s;
  outline: none; 
}

/* Side component CSS */

.right-view {
  margin-top: 60px;
  margin-right: 70px; 
  margin-left: -40px; 
  width: 100%; 
}

.daily-title {
  display: flex; 
  align-items: baseline;
  justify-content: space-between;
}

.daily-title h2 {
  font-weight: 600; 
  font-size: 20px;
}

.toggle-day {
  display: flex;
}

.daily-tasks {
  margin-top: 20px; 
  border: 2px solid #edf2fa; 
  height: 72vh; 
  border-radius: 8px;
  overflow-y: auto; 
  padding: 20px; 
}

.daily-tasks-in {
  margin-top: -20px; 
}

.daily-habit {
  padding: 15px; 
  margin-top: 20px; 
}

.daily-habit h4 {
  font-weight: 500; 
  font-size: 20px; 
}

.completed {
  border-radius: 5px; 
  color: #fff;
}

.completed-checkmark {
  display: flex; 
  justify-content: space-between;
  align-items: center;
  margin-top: 5px; 
}

.undo-btn {
  background: none;
  color: #fff;
  font-family: 'Open Sans';
  border: none; 
  outline: none; 
  font-size: 14px; 
  font-weight: 600;
  cursor: pointer;
}

.undo-btn:focus {
  border: 1px solid #fff; 
  border-radius: 5px; 
}

.complete-btn {
  background: none; 
  font-family: 'Open Sans';
  margin-top: 5px; 
  cursor: pointer;
  border: 2px solid #edf2fa; 
  border-radius: 5px; 
  font-weight: 700; 
  padding: 5px 20px; 
  color: #017cff;
  outline: none; 
}

.complete-btn:focus {
  border-color: #017cff;
}

.complete-btn:hover {
  border-color: #017cff;
}